* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.display-none {
    display: none;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

nav{
    padding: 20px;
    box-shadow: 0 5px 5px -5px black;
    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    word-spacing: 10px;
    letter-spacing: 5px;
}

nav a span{
    font-weight: bold;
}

.hero {
    background-image: url(images/architect.jpg);
    background-position: center;
    background-size: cover;
    min-height: 200px;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

#BR{
    background-color: rgba(0, 0, 0 , 0.8);
    padding: 10px;
}

h2{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}